<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="/" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<% if @url != nil %>

<a href="<%= @url.short_url %>"><%= @url.short_url %></a>

<%= @url.count_short_url%>

<% end %>

<h3>All links: <%= @counter%></h3>



