<div class="container">

	<h1 id="title"> Fun-sized ʕ·ᴥ·ʔ</h1>
	<p>₍ᐢ•ﻌ•ᐢ₎ Make your link as fun-sized as Cheng ₍ᐢ•ﻌ•ᐢ₎</p>

	<form action="/" method="post">
		<input id="searchbox" type="text" name="long_url">
		<br>
		<br>
		<input id="submit_button" type="submit" value="Submit">
	</form>

	<p id="response">
		<p id="ohno"> </p>
		<p id="result" ></p>

	</p>

	<h3>All links: <%= @counter%></h3>

</div>



