<div class="container">

	<h1 id="title"> Fun-sized ʕ·ᴥ·ʔ</h1>
	<p>₍ᐢ•ﻌ•ᐢ₎ Make your link as fun-sized as Cheng ₍ᐢ•ﻌ•ᐢ₎</p>

	<form action="/" method="post" id="form">
		<input id="searchbox" type="text" name="long_url">
		<br>
		<br>
		<input id="submit_button" type="submit" value="Submit">
	</form>

	<p id="response">
		<p id="ohno"> </p>
		<p id="result" ></p>

	</p>

	<h3> All Links: <span id="total_links"></span> </h3>

</div>





<div class="aboutme">
	<div id="my_button">
		<div id="word_on_button"> About Me </div>
		<div id="design_of_button"></div>
	</div>
</div>
  
  
<div id="text_inside"><p>Hello Welcome Welcome!</p></div>





























